@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Oswald:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 10% 10%;
    --foreground: 30 5% 83%;

    --card: 20 8% 15%;
    --card-foreground: 30 5% 83%;

    --popover: 20 10% 12%;
    --popover-foreground: 30 5% 83%;

    --primary: 30 8% 70%;
    --primary-foreground: 20 10% 10%;

    --secondary: 20 6% 20%;
    --secondary-foreground: 30 5% 83%;

    --muted: 20 6% 25%;
    --muted-foreground: 30 4% 55%;

    --accent: 0 65% 27%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 70% 35%;
    --destructive-foreground: 0 0% 98%;

    --border: 20 8% 28%;
    --input: 20 8% 22%;
    --ring: 30 8% 60%;

    --radius: 0.3rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 20 8% 28%;

    --sidebar-ring: 30 8% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
